.Logo {
  width: 50px;
  background-color: rgb(255, 255, 255);
  color: white;
  border: 1px solid black;
}
header{
  background-color: rgb(255, 255, 255);
  color: white;
  border: 1px solid black;

}
.box-supp{
    
  display: flex;
}
.Photo-postit{
    width: 10vw;
}